@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: "Roboto", "Arial", "Lucida Grande", sans-serif
}

#nav-title {
    display: none;
    width: 0px;
    height: 60px;
    z-index: 2;
    position: relative;
    right: 20px;
}

.classic {
    width: 300px;
    object-fit: cover;
}

.no-overflow {
    overflow: visible !important;
}

.pod {
    margin: 0;
}

#artist-form {
    margin: 0px 15px;
}

#main {
    display: flex;
    flex-direction: column;
    /* background-color:aquamarine; */
    transition: margin-left .5s; /* If you want a transition effect */
    margin: 8px 15px 8px 15px;

}

.main-sidebar {
    margin: 8px 15px 8px 100px !important;
}

.main-sidebar-expanded {
    margin: 8px 15px 8px 330px !important;
}

#title {
    transition: margin-left .5s;
    margin: 15px 0px;
}

.title-sidebar {
    margin-left: 30px !important;
}

.title-sidebar-expanded {
    margin-left: 260px !important;
}

.nav-section {
    transition: background-color 1s linear;
    border-radius: 10px;
    /* padding-bottom: 20px; */
}

.white-in {
    background-color: white;
}

#add-a-project {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* margin: 15px 0px; */
    /* background-color: burlywood; */
}

.row {
    display: flex;
    flex-direction: row;
    margin: 8px 10px;
}

.row-marginless {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expanded-section {
    margin-bottom: 15px;
}

.nav-btn {
    margin: 10px 10px;
    width: 50px;
}

.nav-square:hover {
    background-color:#5b93c3;
    transform: scale(1.1);
}

.nav-square:active:hover {
    background-color:#6baae2;
    transform: scale(1.05);
}


.nav-btn-expand {
    width: 200px !important;
    /* padding: 75px 8px 8px 8px; */
}


.column-gap {
    column-gap: 5%;
}

.full {
    display: flex;
    flex-direction: column;
}

.half {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    justify-content: center;
}

.third {
    display: flex;
    flex-direction: column;
    width: 31.66%;
}

.custom-header {
    font-weight: 900;
    font-size: 18pt;
    color: #022A42;
    margin: 0px;
}

.full-width {
    width: 100%;
}


.justify {
    justify-content: center;
}

/* #add-project-icon {
    width: 50px;
} */


.nav-text {
    display: none;
    margin-left: 10px;
}



/* #add-project-text .animate {
    animation: slide-in 0.7s both;
}
  
  @keyframes slide-in {
    0% {
      transform: translateY(-1000px);
    }
    100% {
      transform: translateY(0);
    }
  } */

.sidebar-form {
    display: none; 
    padding-bottom: 20px;
}

#add-project-header {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-div {
    display: flex;
    width: 70px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
}

.nav-icon {
    font-size: 35pt;
    color: #67ACE6;
}

.inside-icon {
    font-size: 15pt;
    color: white;
}

.nav-square {
    display: flex;
    background-color: #67ACE6;
    border-radius: 7px;
    width: 41px;
    height: 41px;
    align-items: center;
    justify-content: center;
    border: none;
}

/* The button used to open the sidebar */
#nav-toggle {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    /* background-color: #111; */
    /* color: white; */
    /* padding: 10px 15px;
    border: none; */
    border-style: none;
}

#nav-toggle:hover {
    color: #8f8f8f;
    font-size: 35px;
    background-color: transparent;
}

/* #nav-toggle:focus {
    color: #cd2e2e;
    font-size: 32px;
    background-color: transparent;
} */

#nav-toggle:active:hover {
    color: #8f8f8f;
    font-size: 32px;
    background-color: transparent;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#spain {
    transition: margin-left .5s; /* If you want a transition effect */
    /* padding: 20px; */
    /* z-index: 2; */
    background-color: transparent;
    height: 41px;
    width: 41px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7px;
    }



/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: lightgrey; /*#022A42;*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 75px 0px 0px 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* .sidebar-collapse {
    width: 0;
    padding: 85px 0px 0px 0px;
} */

.sidebar-expand {
    width: 70px;
    padding: 75px 8px 8px 8px;
}

.sidebar-expand-more {
    width: 300px !important;
    padding: 75px 8px 8px 8px;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  

  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}











.input-group {
    position: relative;
    box-sizing: border-box;
}

.input-group .input-area, 
.input-group .input-select {
    border: 1px solid #dadce0;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    color: #515151;
    box-sizing: border-box;
    align-items: center;
    text-overflow: ellipsis;
    background-color: white;
}

.input-group .input-area:hover,
.input-group .input-select:hover {
    border-color: #67ACE6;
    color: #67ACE6;
}

.input-group .input-select:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI2LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNGRkZGRkY7fQoJLnN0MXtmaWxsOiM2N0FDRTY7fQo8L3N0eWxlPgo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iNC45IiBoZWlnaHQ9IjEwIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMS40LDQuNyAyLjUsMy4yIDMuNSw0LjcgIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMy41LDUuMyAyLjUsNi44IDEuNCw1LjMgIi8+Cjwvc3ZnPgo=) no-repeat 95% 50%;
}

.input-group .input-area:focus,
.input-group .input-area:focus:hover,
.input-group .input-select:focus,
.input-group .input-select:focus:hover {
    border: 2px solid royalblue;
    outline: none;
}

.input-group .input-select:focus,
.input-group .input-select:focus:hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNGRkZGRkY7fQoJLnN0MXtmaWxsOiM0MTY5RTE7fQo8L3N0eWxlPgo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iNC45IiBoZWlnaHQ9IjEwIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMS40LDQuNyAyLjUsMy4yIDMuNSw0LjcgIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMy41LDUuMyAyLjUsNi44IDEuNCw1LjMgIi8+Cjwvc3ZnPgo=) no-repeat 95% 50%;
}

.input-group .input-area:valid,
.input-group .input-select:valid {
    border: 1px solid #515151;
}

.input-group .input-area:focus:valid,
.input-group .input-select:focus:valid {
    border: 2px solid royalblue;
    outline: none;
}

.input-group .input-area:focus:hover,
.input-group .input-select:focus:hover {
    border: 2px solid royalblue;
    outline: none;
}

.input-group .input-area:focus + .input-label,
.input-group .input-select:focus + .input-label {
    top: -11px !important;
    padding: 0px 3px;
    font-size: 12px;
    color: royalblue;
    font-weight: 500;
    width: unset;
}

.input-group .input-area:valid + .input-label,
.input-group .input-select:valid + .input-label {
    top: -11px !important;
    padding: 0px 3px;
    font-size: 12px;
    color: #515151;
    font-weight: 500;
    width: auto;
}

.input-group .input-area:focus:valid + .input-label,
.input-group .input-select:focus:valid + .input-label {
    top: -11px !important;
    padding: 0px 3px;
    font-size: 12px;
    color: royalblue;
    font-weight: 500;
}

.input-group .input-area:hover + .input-label,
.input-group .input-select:hover + .input-label {
    color: #67ACE6;
}

.input-group .input-area:focus:hover + .input-label,
.input-group .input-select:focus:hover + .input-label {
    color: royalblue;
}

.input-group .input-label {
    color: #8d8d8d;
    position: absolute;
    font-weight: 400;
    top: 5px;
    left: 13px;
    background: #ffffff;
    transition: .1s;
}

.input-label {
    font-size: 10pt;
    max-height: 12pt;
    white-space: nowrap;
    /* width: calc(100% - 32px); */
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.input-label:valid {
    width: auto;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sel {
    -webkit-appearance: none;
    /* appearance: textField; */
    width: 100%;
    padding-right: 50px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
}

.sel :hover {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI2LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNGRkZGRkY7fQoJLnN0MXtmaWxsOiM2N0FDRTY7fQo8L3N0eWxlPgo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iNC45IiBoZWlnaHQ9IjEwIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMS40LDQuNyAyLjUsMy4yIDMuNSw0LjcgIi8+Cjxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMy41LDUuMyAyLjUsNi44IDEuNCw1LjMgIi8+Cjwvc3ZnPgo=) no-repeat 95% 50%;
}

select :hover {
    padding: 5px 14px 5px 10px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    background-color: white;
}




.slide-right {
    overflow: hidden;
    max-width: 300px
  }
  

  .slide-right h2 {
    animation: 0.5s slide-right 0s forwards;
      transform:translateX(-100%);
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }

  .slide-right img {
    animation: 0.5s slide-right 0s forwards;
      transform:translateX(-100%);
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }



  .slide-left {
    overflow: hidden;
    max-width: 300px;
  }

  .slide-left h2 {
    animation: 0.5s slide-left 0s forwards;
  }
  
  @keyframes slide-left {
    to {
      transform: translateX(-100%);
    }
  }

  .slide-left img {
    animation: 0.5s slide-left 0s forwards;
  }
  
  @keyframes slide-left {
    to {
      transform: translateX(-100%);
    }
  }

  /* .slide-left {
    overflow: hidden;
    margin-left: 10px;
    max-width: 300px
  }

  .slide-left h2 {
    animation: 0.5s slide-right 0s backwards;
      transform:translateX(-100%);
  }
  
  @keyframes slide-left {
    to {
      transform:translateX(-100);
      display: none;
    }
  } */
/* 
  #add-project-nav-row {
    align-items: center;
  } */

  /* .slide-down {
    overflow: hidden;
    max-width: 300px
  }


  .slide-down form {
    animation: 0.5s slide-down 0s downwards;
      transform:translateY(-100%);
  }
  
  @keyframes slide-down {
    to {
      transform:translateY(0);
    }
  } */


  /* #add-project-form .animate {
    animation: slide-in 0.7s both;
}
  
  @keyframes slide-in {
    0% {
      transform: translateY(-1000px);
    }
    100% {
      transform: translateY(0);
    }
  } */


  /* .hidden {
    height:0px;
       -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}


.open {
    height:200px;
 -webkit-transition:height, 0.5s linear;
-moz-transition: height, 0.5s linear;
-ms-transition: height, 0.5s linear;
-o-transition: height, 0.5s linear;
transition: height, 0.5s linear;
} */